html {
    scroll-behavior: auto;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color: black;
    background-color: #f4f4f9;
}

a {
    color: inherit;
    text-decoration: none;
}

.cabecario {
    background-color: black;
    color: #fff;
    display: flex;
    padding: 10px;
    align-items: center;
}

.logo {
    font-size: 60px;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.rodape {
    background-color: black;
    color: white;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;

}
.quemsomos { 
        margin-left: auto;
        font-size: 15px;
}
img {
    width: 150px;
    height: 150px;
}